.header {
    text-align: center;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    color: white;
    padding: 3rem 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 2.5rem;
    margin: 0;
}

.subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 300;
}
