.recipeOfTheDay {
    text-align: center;
    margin: 2rem;
    padding: 2rem;
    background-color: #fff3cd;
    border-left: 5px solid #ffc107;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.recipeTitle {
    font-size: 2rem;
    color: #856404;
}

.recipeContent {
    font-size: 1rem;
    margin-top: 0.5rem;
}
